<h1>Stupid Coaching</h1>

<div class="border-left mb-3">
  <h2><%= @question %></h2>
  <h2>- You</h2>
</div>

<div class="border-left mb-3 bg-light">
  <h2><%= @answer %></h2>
  <h2>- Your coach</h2>
</div>

<%= link_to "Ask a new question", ask_path  %>